body {
    width: 500px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-style: normal;
    margin: 1em;
    font-size: 1em;

}

h1{
    margin-top: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12em;
    line-height: 0.8;
    letter-spacing: 0.01em;
    margin-bottom: 5px;
}

h2{
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.25;
    text-transform: uppercase;
}

#container{
    background-color: #e7b91b;
    padding: 30px;
    padding-right: 20px;
    text-align: justify;
}
   
p{
    font-size: 0.75em;
    line-height: 1.5;
}
